In [1]:
%matplotlib inline

import os
import sys
genre_class_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
print("Loading Genre_Classification system from path", genre_class_path)
sys.path.append(genre_class_path)

import numpy as np
import pandas as pd
import tensorflow as tf
import json
import random

Loading Genre_Classification system from path /mnt/d/UNIV NOTES/Y4S1/DSA4199/genre_classification

2022-11-02 17:46:32.133109: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-02 17:46:32.133157: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk import download
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/kathyij74/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
dataset_wkspc = os.path.join(genre_class_path, 'workspace', 'gb_input')
data_path = os.path.join(dataset_wkspc, 'bigram.csv')

bigram_df = pd.read_csv(data_path)
bigram_df = bigram_df.iloc[:,1:]

In [4]:
bigram_df.head()

,"('JJS', 'TO')","('FW', 'MD')","('EX', 'FW')","('DT', 'JJR')","('EX', 'VBG')","('UH', 'PDT')","('JJS', 'NN')","('PDT', 'RP')","('DT', 'RP')","('NNP', 'VBN')",...,"('UH', 'RB')","('PRP', 'RBR')","('NN', 'NNPS')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBS', 'VBN')","('RBR', 'TO')",subjects
0,1,0,0,28,0,0,10,0,0,1,...,0,4,0,59,23,5,14,0,2,5
1,2,0,0,60,1,0,49,0,0,1,...,0,5,0,102,28,9,64,1,2,5
2,4,0,0,32,1,0,33,0,2,1,...,0,5,0,64,40,7,27,0,2,5
3,8,0,0,74,0,0,76,0,0,1,...,0,3,0,66,34,4,46,0,4,3
4,0,2,0,29,7,0,46,0,5,1,...,0,6,0,92,28,10,35,1,2,2

In [5]:
random.seed(42)

train = random.sample(range(0, len(bigram_df)), int(len(bigram_df)*0.7))
test = [x for x in range(0, len(bigram_df)) if x not in train]

print(train[:20])
print(test[:20])
print(len(train))
print(len(test))

[2619, 456, 102, 3037, 1126, 1003, 914, 571, 3016, 419, 2771, 3033, 3654, 2233, 356, 2418, 1728, 130, 122, 383]
[0, 5, 7, 9, 12, 15, 17, 19, 20, 21, 27, 30, 35, 36, 37, 40, 42, 43, 44, 45]
2722
1167

In [6]:
train_df = bigram_df.iloc[train,]
test_df = bigram_df.iloc[test,]

print(train_df.shape)
print(test_df.shape)

(2722, 1119)
(1167, 1119)

In [7]:
train_df.head()

,"('JJS', 'TO')","('FW', 'MD')","('EX', 'FW')","('DT', 'JJR')","('EX', 'VBG')","('UH', 'PDT')","('JJS', 'NN')","('PDT', 'RP')","('DT', 'RP')","('NNP', 'VBN')",...,"('UH', 'RB')","('PRP', 'RBR')","('NN', 'NNPS')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBS', 'VBN')","('RBR', 'TO')",subjects
2619,15,0,0,149,1,0,181,0,0,1,...,0,11,0,194,28,17,155,2,4,3
456,5,1,0,42,1,0,52,0,3,1,...,0,2,1,101,34,10,21,1,2,4
102,4,0,0,40,0,0,106,0,0,0,...,0,6,0,107,26,11,51,3,10,3
3037,0,0,0,6,0,0,4,0,0,0,...,0,1,0,13,19,3,9,0,0,5
1126,0,0,0,3,0,0,2,0,0,1,...,0,2,0,9,19,2,0,0,1,5

In [8]:
train_df['subjects'].value_counts()

5    1231
1     378
2     318
4     296
6     258
3     241
Name: subjects, dtype: int64

In [9]:
test_df.head()

,"('JJS', 'TO')","('FW', 'MD')","('EX', 'FW')","('DT', 'JJR')","('EX', 'VBG')","('UH', 'PDT')","('JJS', 'NN')","('PDT', 'RP')","('DT', 'RP')","('NNP', 'VBN')",...,"('UH', 'RB')","('PRP', 'RBR')","('NN', 'NNPS')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBS', 'VBN')","('RBR', 'TO')",subjects
0,1,0,0,28,0,0,10,0,0,1,...,0,4,0,59,23,5,14,0,2,5
5,7,0,0,61,2,0,54,0,2,0,...,0,2,0,98,32,10,36,0,4,3
7,2,0,0,19,0,0,25,0,5,0,...,0,0,0,48,25,4,10,1,0,6
9,0,1,0,41,0,0,37,0,0,0,...,0,2,0,52,38,3,18,0,3,3
12,3,1,0,44,0,0,79,0,2,1,...,0,2,0,71,35,6,36,0,2,6

In [10]:
test_df['subjects'].value_counts()

5    511
2    151
1    145
4    131
6    116
3    113
Name: subjects, dtype: int64

In [11]:
features_col = train_df.iloc[:,:-1]
sparse = {}
for feature in features_col.columns:
    sparse[feature] = ((features_col[feature] == 0).sum()/len(features_col))*100
non_sparse = [x for x in sparse.keys() if sparse[x] <= 80]

In [12]:
features_col.head()

,"('JJS', 'TO')","('FW', 'MD')","('EX', 'FW')","('DT', 'JJR')","('EX', 'VBG')","('UH', 'PDT')","('JJS', 'NN')","('PDT', 'RP')","('DT', 'RP')","('NNP', 'VBN')",...,"('WRB', 'VBZ')","('UH', 'RB')","('PRP', 'RBR')","('NN', 'NNPS')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBS', 'VBN')","('RBR', 'TO')"
2619,15,0,0,149,1,0,181,0,0,1,...,20,0,11,0,194,28,17,155,2,4
456,5,1,0,42,1,0,52,0,3,1,...,10,0,2,1,101,34,10,21,1,2
102,4,0,0,40,0,0,106,0,0,0,...,9,0,6,0,107,26,11,51,3,10
3037,0,0,0,6,0,0,4,0,0,0,...,1,0,1,0,13,19,3,9,0,0
1126,0,0,0,3,0,0,2,0,0,1,...,0,0,2,0,9,19,2,0,0,1

In [13]:
# remove sparse columns aka columns with 0 values more than 80%
features_col = train_df.iloc[:, :-1]
subjects = train_df.iloc[:, -1:]
sparse = {}
for feature in features_col.columns:
    sparse[feature] = ((features_col[feature] == 0).sum()/len(features_col))*100
non_sparse = [x for x in sparse.keys() if sparse[x] <= 80]

In [14]:
# rescale the data by dividing it with row sum then standardize it
from sklearn.preprocessing import StandardScaler

train_df = train_df[non_sparse]
train_df = train_df.div(train_df.sum(axis=1), axis=0)
scaler = StandardScaler()
train_df = scaler.fit_transform(train_df)
train_df = pd.DataFrame(train_df)
train_df.index = train
train_df.columns = non_sparse
train_df['subjects'] = subjects

In [15]:
train_df.head()

,"('JJS', 'TO')","('DT', 'JJR')","('EX', 'VBG')","('JJS', 'NN')","('DT', 'RP')","('NNP', 'VBN')","('IN', 'WDT')","('CC', 'MD')","('VBZ', 'NNP')","('PRP', 'VBP')",...,"('MD', 'VB')","('PRP$', 'JJR')","('WRB', 'VBZ')","('PRP', 'RBR')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBR', 'TO')",subjects
2619,1.374514,1.405565,-0.263587,1.864176,-0.577883,-0.705937,3.079256,0.970469,-0.444797,-0.871926,...,-0.111400,1.194318,0.058549,0.638890,-0.160488,-1.033579,-0.575344,1.825465,-0.005676,3
456,0.807535,0.158610,-0.019908,0.215551,0.579526,-0.597945,0.345521,-0.512512,-0.257140,-0.495124,...,0.833318,0.034175,0.176755,-0.247191,0.239864,-0.790301,-0.251717,-0.580413,0.064675,4
102,0.312333,-0.217526,-0.465518,2.351778,-0.577883,-0.795427,1.823024,-0.211505,-0.364334,-1.829113,...,-0.539949,2.831920,-0.111169,0.686564,-0.042850,-0.923902,-0.331618,0.530447,2.533457,3
3037,-0.769743,-0.461504,-0.465518,-1.567050,-0.577883,-0.795427,-0.740322,-0.054669,0.471870,0.501247,...,0.739674,-0.640745,-0.468626,0.609226,-0.907181,-0.118958,0.404226,0.541591,-0.686229,5
1126,-0.769743,-0.146971,-0.465518,-1.331381,-0.577883,1.557639,0.456873,0.802508,0.673202,-0.052698,...,0.460056,3.380201,-1.084935,6.233746,0.430682,1.405894,1.697446,-1.606496,3.787401,5

In [16]:
from sklearn import svm
from matplotlib import pyplot as plt

X = train_df.iloc[:, :-1].to_numpy()
y = train_df.iloc[:, -1:].to_numpy().flatten()

clf = svm.SVC(kernel='linear')
clf.fit(X, y)

SVC(kernel='linear')

In [133]:
# check feature importance

def f_importances(coef, names):
    imp = coef
    imp, names = zip(*sorted(zip(imp, names)))
    plt.barh(range(len(names)), imp, align='center')
    plt.yticks(range(len(names)), names)
    plt.show()
    
f_importances(clf.coef_, non_sparse)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [17]:
# preprocess test data
test_subjects = test_df['subjects']
test_df = test_df[non_sparse]
test_df = test_df.div(test_df.sum(axis=1), axis=0)
test_df = scaler.transform(test_df)
test_df = pd.DataFrame(test_df)
test_df.index = test
test_df.columns = non_sparse
test_df['subjects'] = test_subjects

In [18]:
test_df.head()

,"('JJS', 'TO')","('DT', 'JJR')","('EX', 'VBG')","('JJS', 'NN')","('DT', 'RP')","('NNP', 'VBN')","('IN', 'WDT')","('CC', 'MD')","('VBZ', 'NNP')","('PRP', 'VBP')",...,"('MD', 'VB')","('PRP$', 'JJR')","('WRB', 'VBZ')","('PRP', 'RBR')","('VBG', 'PRP')","('NN', 'CD')","('VBN', 'CD')","('IN', 'WP')","('RBR', 'TO')",subjects
0,-0.254149,0.342546,-0.465518,-1.742490,-0.577883,-0.472653,1.706457,1.201912,-0.444797,-2.197494,...,-1.697398,1.013933,-1.084935,1.099953,0.100137,-0.749295,-0.509308,-0.488445,0.541081,5
5,1.403092,1.039260,0.411434,0.277905,0.181370,-0.795427,0.105209,1.025664,-0.352470,-1.189434,...,-0.452612,0.687484,0.529003,-0.256697,0.100100,-0.818980,-0.274281,0.124342,0.791534,3
7,0.353204,-0.241187,-0.465518,-0.196477,2.855535,-0.795427,-1.035801,0.827680,-0.277793,0.343151,...,-0.851030,-0.040106,0.037895,-0.840938,-0.236286,-0.670475,-0.657664,-0.736826,-0.686229,6
9,-0.769743,0.544721,-0.465518,-0.167009,-0.577883,-0.795427,-0.650458,-0.216857,-0.330596,-0.546749,...,-1.004854,-0.230014,0.911391,-0.118274,-0.913658,-0.650455,-1.146433,-0.536034,0.684687,3
12,0.148096,0.191526,-0.465518,1.567493,0.170464,-0.603898,-1.324093,-0.749497,0.010204,-0.235844,...,0.013851,-0.313457,0.383454,-0.265089,-0.743297,-0.790929,-0.840929,0.099481,0.042039,6

In [19]:
# make prediction

X_test = test_df.iloc[:, :-1].to_numpy()
y_test = test_df.iloc[:, -1:].to_numpy().flatten()

pred = clf.predict(X_test)

In [20]:
pred

array([5, 1, 1, ..., 1, 2, 4])

In [21]:
# confusion matrix
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

cm = confusion_matrix(y_test, pred)
cm_df = pd.DataFrame(cm, index = [1,2,3,4,5,6], columns = [1,2,3,4,5,6])
plt.figure()
sns.heatmap(cm_df, annot=True)
plt.title('Confusion Matrix')
plt.ylabel('Actual Values')
plt.xlabel('Predicted Values')
plt.show()

ModuleNotFoundError: No module named 'seaborn'