In [1]:
%matplotlib inline

import os
import sys
genre_class_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
print("Loading Genre_Classification system from path", genre_class_path)
sys.path.append(genre_class_path)

import numpy as np
import pandas as pd
import tensorflow as tf
import json
import random

Loading Genre_Classification system from path /mnt/d/UNIV NOTES/Y4S1/DSA4199/genre_classification

2022-11-02 18:04:51.584195: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-02 18:04:51.584263: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk import download
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/kathyij74/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
dataset_wkspc = os.path.join(genre_class_path, 'workspace', 'gb_input')
data_path = os.path.join(dataset_wkspc, 'trigram.csv')

trigram_df = pd.read_csv(data_path)
trigram_df = trigram_df.iloc[:,1:]

In [4]:
trigram_df.head()

,"('NNS', 'NNPS', 'VBD')","('PRP', 'PDT', 'VB')","('FW', 'NNP', 'POS')","('RBR', 'WRB', 'PRP$')","('VBG', 'PRP$', 'VBN')","('NNS', 'VBZ', 'VBG')","('FW', 'IN', 'JJS')","('WRB', 'POS', 'NNS')","('VBG', 'CD', 'VBD')","('VBG', 'VBZ', 'RB')",...,"('NN', 'WDT', 'VBG')","('JJ', 'VBD', 'PDT')","('PRP$', 'RP', 'CC')","('JJS', 'NN', 'DT')","('WP', 'POS', 'VBG')","('POS', 'PRP$', 'RBS')","('WP$', 'JJR', 'NN')","('NN', 'NNP', 'VBZ')","('VBP', 'EX', 'TO')",subjects
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,5
2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3
4,0,0,0,0,1,2,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2

In [5]:
random.seed(42)

train = random.sample(range(0, len(trigram_df)), int(len(trigram_df)*0.7))
test = [x for x in range(0, len(trigram_df)) if x not in train]

print(train[:20])
print(test[:20])
print(len(train))
print(len(test))

[2619, 456, 102, 3037, 1126, 1003, 914, 571, 3016, 419, 2771, 3033, 3654, 2233, 356, 2418, 1728, 130, 122, 383]
[0, 5, 7, 9, 12, 15, 17, 19, 20, 21, 27, 30, 35, 36, 37, 40, 42, 43, 44, 45]
2722
1167

In [6]:
train_df = trigram_df.iloc[train,]
test_df = trigram_df.iloc[test,]

print(train_df.shape)
print(test_df.shape)

(2722, 24216)
(1167, 24216)

In [7]:
train_df.head()

,"('NNS', 'NNPS', 'VBD')","('PRP', 'PDT', 'VB')","('FW', 'NNP', 'POS')","('RBR', 'WRB', 'PRP$')","('VBG', 'PRP$', 'VBN')","('NNS', 'VBZ', 'VBG')","('FW', 'IN', 'JJS')","('WRB', 'POS', 'NNS')","('VBG', 'CD', 'VBD')","('VBG', 'VBZ', 'RB')",...,"('NN', 'WDT', 'VBG')","('JJ', 'VBD', 'PDT')","('PRP$', 'RP', 'CC')","('JJS', 'NN', 'DT')","('WP', 'POS', 'VBG')","('POS', 'PRP$', 'RBS')","('WP$', 'JJR', 'NN')","('NN', 'NNP', 'VBZ')","('VBP', 'EX', 'TO')",subjects
2619,0,0,0,0,1,0,0,0,0,1,...,0,1,0,1,0,0,0,3,0,3
456,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,3,0,4
102,0,0,0,0,0,0,0,0,0,0,...,1,1,0,3,0,0,0,0,0,3
3037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [8]:
train_df['subjects'].value_counts()

5    1231
1     378
2     318
4     296
6     258
3     241
Name: subjects, dtype: int64

In [9]:
test_df.head()

,"('NNS', 'NNPS', 'VBD')","('PRP', 'PDT', 'VB')","('FW', 'NNP', 'POS')","('RBR', 'WRB', 'PRP$')","('VBG', 'PRP$', 'VBN')","('NNS', 'VBZ', 'VBG')","('FW', 'IN', 'JJS')","('WRB', 'POS', 'NNS')","('VBG', 'CD', 'VBD')","('VBG', 'VBZ', 'RB')",...,"('NN', 'WDT', 'VBG')","('JJ', 'VBD', 'PDT')","('PRP$', 'RP', 'CC')","('JJS', 'NN', 'DT')","('WP', 'POS', 'VBG')","('POS', 'PRP$', 'RBS')","('WP$', 'JJR', 'NN')","('NN', 'NNP', 'VBZ')","('VBP', 'EX', 'TO')",subjects
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,3
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,6
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3,0,3
12,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,3,0,6

In [10]:
test_df['subjects'].value_counts()

5    511
2    151
1    145
4    131
6    116
3    113
Name: subjects, dtype: int64

In [11]:
features_col = train_df.iloc[:,:-1]
sparse = {}
for feature in features_col.columns:
    sparse[feature] = ((features_col[feature] == 0).sum()/len(features_col))*100
non_sparse = [x for x in sparse.keys() if sparse[x] <= 80]

In [12]:
features_col.head()

,"('NNS', 'NNPS', 'VBD')","('PRP', 'PDT', 'VB')","('FW', 'NNP', 'POS')","('RBR', 'WRB', 'PRP$')","('VBG', 'PRP$', 'VBN')","('NNS', 'VBZ', 'VBG')","('FW', 'IN', 'JJS')","('WRB', 'POS', 'NNS')","('VBG', 'CD', 'VBD')","('VBG', 'VBZ', 'RB')",...,"('WDT', 'POS', 'VBG')","('NN', 'WDT', 'VBG')","('JJ', 'VBD', 'PDT')","('PRP$', 'RP', 'CC')","('JJS', 'NN', 'DT')","('WP', 'POS', 'VBG')","('POS', 'PRP$', 'RBS')","('WP$', 'JJR', 'NN')","('NN', 'NNP', 'VBZ')","('VBP', 'EX', 'TO')"
2619,0,0,0,0,1,0,0,0,0,1,...,0,0,1,0,1,0,0,0,3,0
456,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
102,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,3,0,0,0,0,0
3037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# remove sparse columns aka columns with 0 values more than 80%
features_col = train_df.iloc[:, :-1]
subjects = train_df.iloc[:, -1:]
sparse = {}
for feature in features_col.columns:
    sparse[feature] = ((features_col[feature] == 0).sum()/len(features_col))*100
non_sparse = [x for x in sparse.keys() if sparse[x] <= 80]

In [14]:
# rescale the data by dividing it with row sum then standardize it
from sklearn.preprocessing import StandardScaler

train_df = train_df[non_sparse]
train_df = train_df.div(train_df.sum(axis=1), axis=0)
scaler = StandardScaler()
train_df = scaler.fit_transform(train_df)
train_df = pd.DataFrame(train_df)
train_df.index = train
train_df.columns = non_sparse
train_df['subjects'] = subjects

In [15]:
train_df.head()

,"('WP', 'VBP', 'JJ')","('IN', 'VBP', 'RB')","('NNS', 'CC', 'VBN')","('RBR', 'VB', 'DT')","('IN', 'VBG', 'VBN')","('PRP', 'TO', 'NN')","('IN', 'WDT', 'PRP')","('PRP', 'VBP', 'WRB')","('VB', 'VBD', 'RB')","('IN', 'PRP', 'WRB')",...,"('NNP', 'NNP', 'VBD')","('VB', 'CD', 'NN')","('VBD', 'IN', 'NN')","('PRP$', 'NNS', 'WRB')","('RB', 'VBD', 'RP')","('NNS', 'CC', 'TO')","('VB', 'DT', 'TO')","('JJS', 'NN', 'DT')","('NN', 'NNP', 'VBZ')",subjects
2619,0.734560,-0.701941,-0.637911,0.666783,1.004881,0.314331,3.390676,-0.298883,-0.413924,-0.056125,...,-0.709823,0.046075,-0.596260,-0.142882,-0.689525,0.088937,-0.450354,-0.003334,-0.152884,3
456,-0.603266,-0.673255,-0.753290,-0.342354,0.383228,-0.303824,0.287170,-0.392464,0.757800,1.379424,...,-0.503797,0.382925,-0.298368,-0.108973,-0.212588,-0.473065,1.088389,-0.384970,0.181397,4
102,0.849898,-0.538291,-0.095324,-0.342354,0.105197,0.266593,2.143250,-0.628867,-0.237592,-0.499044,...,-0.531974,0.747198,0.225862,-0.597330,-0.578615,0.061082,0.456935,1.791359,-0.443758,3
3037,-0.603266,-0.074003,-0.753290,-0.342354,-1.035591,-0.648835,-0.852644,-0.628867,-0.906792,-0.770712,...,1.642466,2.000338,-0.339797,1.796044,-0.375981,-0.473065,-0.450354,-0.384970,-0.443758,5
1126,-0.603266,1.265783,-0.753290,-0.342354,-1.035591,-0.648835,0.359407,-0.628867,-0.906792,-0.770712,...,1.103393,-0.732195,-1.708261,-0.597330,-1.104530,-0.473065,-0.450354,-0.384970,-0.443758,5

In [16]:
from sklearn import svm
from matplotlib import pyplot as plt

X = train_df.iloc[:, :-1].to_numpy()
y = train_df.iloc[:, -1:].to_numpy().flatten()

clf = svm.SVC(kernel='linear')
clf.fit(X, y)

SVC(kernel='linear')

In [21]:
# check feature importance

def f_importances(coef, names):
    imp = coef
    imp, names = zip(*sorted(zip(imp, names)))
    plt.barh(range(len(names)), imp, align='center')
    plt.yticks(range(len(names)), names)
    plt.show()
    
f_importances(clf.coef_, non_sparse)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [17]:
# preprocess test data
test_subjects = test_df['subjects']
test_df = test_df[non_sparse]
test_df = test_df.div(test_df.sum(axis=1), axis=0)
test_df = scaler.transform(test_df)
test_df = pd.DataFrame(test_df)
test_df.index = test
test_df.columns = non_sparse
test_df['subjects'] = test_subjects

In [18]:
test_df.head()

,"('WP', 'VBP', 'JJ')","('IN', 'VBP', 'RB')","('NNS', 'CC', 'VBN')","('RBR', 'VB', 'DT')","('IN', 'VBG', 'VBN')","('PRP', 'TO', 'NN')","('IN', 'WDT', 'PRP')","('PRP', 'VBP', 'WRB')","('VB', 'VBD', 'RB')","('IN', 'PRP', 'WRB')",...,"('NNP', 'NNP', 'VBD')","('VB', 'CD', 'NN')","('VBD', 'IN', 'NN')","('PRP$', 'NNS', 'WRB')","('RB', 'VBD', 'RP')","('NNS', 'CC', 'TO')","('VB', 'DT', 'TO')","('JJS', 'NN', 'DT')","('NN', 'NNP', 'VBZ')",subjects
0,-0.603266,-0.002490,-0.319574,3.451029,0.543570,0.558024,0.301581,-0.628867,3.857321,-0.233480,...,-0.605479,-0.244604,0.953607,0.256814,-0.064515,-0.473065,-0.450354,-0.384970,-0.443758,5
5,-0.196559,-0.472788,0.474373,-0.342354,-0.652455,0.034384,0.081865,-0.394794,1.190895,0.749959,...,-0.667161,-0.180132,1.513708,0.369755,0.073002,0.124916,0.565362,1.239307,-0.443758,3
7,1.617274,-0.714158,1.480977,-0.342354,-0.803163,-0.027128,-0.870502,-0.202870,-0.361413,-0.770712,...,-0.601173,-0.732195,0.194088,0.282685,-0.033015,0.615222,-0.450354,1.093069,-0.443758,6
9,-0.073621,-0.820040,0.525717,-0.342354,-0.037692,0.240906,-0.403016,-0.324039,-0.516539,0.417490,...,-0.433218,1.784097,-0.732859,-0.597330,0.812312,-0.473065,-0.450354,0.672660,0.362341,3
12,1.092827,-0.446661,-0.497304,0.403952,-0.902441,-0.292681,-0.868244,-0.140789,-0.125720,-0.136545,...,-0.076386,0.131158,2.357829,0.410930,-0.183779,0.150377,0.079127,-0.384970,0.201589,6

In [19]:
# make prediction

X_test = test_df.iloc[:, :-1].to_numpy()
y_test = test_df.iloc[:, -1:].to_numpy().flatten()

pred = clf.predict(X_test)

In [20]:
pred

array([5, 1, 1, ..., 2, 2, 4])

In [21]:
# confusion matrix
from sklearn import metrics
import matplotlib.pyplot as plt
# import seaborn as sns

cm = metrics.confusion_matrix(y_test, pred)
cm_df = pd.DataFrame(cm, index = [1,2,3,4,5,6], columns = [1,2,3,4,5,6])
#plt.figure()
#sns.heatmap(cm_df, annot=True)
#plt.title('Confusion Matrix')
#plt.ylabel('Actual Values')
#plt.xlabel('Predicted Values')
#plt.show()

In [22]:
cm

array([[ 95,  13,  12,   8,   8,   9],
       [ 13, 112,   4,   9,   6,   7],
       [ 13,   0,  73,  13,   6,   8],
       [  9,   6,  15,  84,   5,  12],
       [  7,   3,   2,   5, 493,   1],
       [  9,   4,   2,   7,   1,  93]])

In [23]:
cm.diagonal()/cm.sum(axis=1)

array([0.65517241, 0.74172185, 0.6460177 , 0.64122137, 0.96477495,
       0.80172414])

In [24]:
from sklearn.metrics import classification_report

print(classification_report(y_test, pred, target_names=['Adventure stories','Detective and mystery stories','Historical fiction',
                                                        'Love stories','Science fiction','Western stories'], digits=3))

                               precision    recall  f1-score   support

            Adventure stories      0.651     0.655     0.653       145
Detective and mystery stories      0.812     0.742     0.775       151
           Historical fiction      0.676     0.646     0.661       113
                 Love stories      0.667     0.641     0.654       131
              Science fiction      0.950     0.965     0.957       511
              Western stories      0.715     0.802     0.756       116

                     accuracy                          0.814      1167
                    macro avg      0.745     0.742     0.743      1167
                 weighted avg      0.813     0.814     0.813      1167